<% @queens.each do |q| %>
	<%= link_to q.name, queen_path(q.id) %>
	<%= image_tag q.picture.url(:thumb) %>
<% end %>
<% if @queens.count < 1 %>
	<div class="errormessage">No results, you dingus</div>
	<br />
	<img src="/images/heidiiswatching.jpg" alt="She's watching"/>
<% end %>