<% @queens.each do |q| %>
	<div class = "seasonqueens">
		<%= link_to q.name, queen_path(q.id) %>
		<br />
		<%= image_tag q.picture.url(:thumb) %>
	</div>
<% end %>
<% if @queens.count < 1 %>
	<div class="errormessage">No results, you dingus</div>
	<br />
	<img src="/images/heidiiswatching.jpg" alt="She's watching"/>
<% end %>